{
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "react",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "globals": {
    "alert": false,
    "require": false,
    "clearInterval": false,
    "clearTimeout": false,
    "setInterval": false,
    "setTimeout": false,
  },
  "rules": {
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "object-curly-spacing": [1, "never"],
    "array-bracket-spacing": [1, "never"],
  }
}
