{
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "globals": {
    "alert": false,
    "require": false,
    "clearInterval": false,
    "clearTimeout": false,
    "setInterval": false,
    "setTimeout": false,
  },
  "rules": {
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "object-curly-spacing": [1, "never"],
    "array-bracket-spacing": [1, "never"],
    "sort-imports": 1,

    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 1,
    # "react-native/no-color-literals": 1,
  }
}
